/*footer top*/

#footer {
    padding: 3em 2em;
}

#footer-top {
    margin-bottom: 2em;
}

#footer-top,
#footer-top i {
    color: #fff;
}

#social-icons {
    text-align: right;
}

#social-icons i {
    margin-right: 1em;
    font-size: 1.5em;
    cursor: pointer;
}

#social-icons i:hover {
    color: #7a7a7a;
}

/* footer details */

#footer-details {
    margin-bottom: 3em;
}

#news-container,
#contact-container,
#links-container {
    padding: 0;
    border: 0;
    margin-bottom: 2em;
}

#footer-details h4 {
    color: #FFF;
    margin-bottom: 1.5em;
}

#news-container input {
    border-radius: 0;
    border: none;
}

#links-container li {
    margin-bottom: 0.5em;
}

#links-container a {
    text-decoration: none;
}

#links-container a:hover {
    color: #FFF;
}

/* footer bottom */

#footer-bottom {
    border-top: 1px solid #7a7a7a;
    padding-top: 2em;
}

#footer-bottom i {
    color: #e61e10;
    margin-left: 0.3em;
}

@media(min-width: 768px) {
    #news-container {
        padding-right: 2em;
    }
    #links-container {
        padding-left: 2em;
    }
    #contact-container {
        padding: 0 2em;
        border-left: 1px solid #7a7a7a;
        border-right: 1px solid #7a7a7a;
    }
}