@import url(/css/fonts.css);
@import url(/css/footer.css);
@import url(/css/highlights.css);
@import url(/css/info.css);
@import url(/css/slider.css);
@import url(/css/navbar.css);
@import url(/css/banners.css);

* {
    font-family: 'Lato', sans-serif;
}

.bg-primary-color {
    background-color: #fff;
}

.bg-secondary-color {
    background-color: #ece8ea;
}

.bg-dark-color {
    background-color: #050505;
}

.primary-color {
    color: #050505;
}

.secondary-color {
    color: #7a7a7a;
}

#main-container{
    overflow-y: scroll;
    height: 500px;
    margin-top: 4.5em;
    padding: 1.5em;
}

@media(min-width: 768px) {
    #main-container {
        padding: 3.5em;
    }
}